<!-- <section>
  <ul>
    <%@trips.each do |trip| %>
      <li><%= link_to "Trip #{trip.id} on #{trip.date}", trip_path(trip.id)%></li>
    <%end%>
  </ul>
</section> -->


<table id = 'trips-table'>
  <tr>
    <th>Trip ID</th>
    <th>Trip Date</th>
    <th>
      Trip Cost
    </th>
    <th>
      Trip Rating
    </th>
    <% if params[:controller] == "drivers"%>
    <th>
      Trip Rider
    </th>
    <% elsif params[:controller] == "riders"%>
    <th>
      Trip Driver
    </th>
    <% end %>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <td><%= link_to "#{trip.id}", trip_path(trip.id)%></td>
    <td><%= trip.date %></td>
    <td>
      $<%= '%.02f' % ((trip.cost).to_f/100) %>
    </td>
    <td>
      <%= trip.rating %>
    </td>

    <% if params[:controller] == "drivers"%>
    <td>
      <%= trip.rider.name %>
    </td>
    <% elsif params[:controller] == "riders"%>
    <td>
      <%= trip.driver.name %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
