<!-- <article>
  <ul>
    <li>
      <strong>ID: </strong>
      <%= @trip.id %>
    </li>
    <li>
      <strong>Cost: </strong>
        <%= @trip.cost %>
    </li>
    <li>
      <strong>Date: </strong>
      <%= @trip.date %>
    </li>
    <li>
      <strong>Rating: </strong>
      <% if @trip.rating %>
        <%= @trip.rating  %>
      <% else %>
        <%= link_to("Rate this Trip!", edit_rating_path ) %>
      <% end %>
    </li>
    <li>
      <strong>Driver Name: </strong>
      <%= @trip.driver.name %>
    </li>
    <li>
      <strong>Passenger Name: </strong>
      <%= @trip.passenger.name %>
    </li>

  </ul>

</article> -->
