<main>
<h2>
  Edit Trip Details
</h2>
<div class = "form">
  <ul>
    <%= form_for @trip do |f| %>
    <li>Trip ID:<%=@trip.id%></li>
    <li>
      <% if Driver.find_by_id(@trip.driver_id) == nil %>
        Driver: driver account deleted
      <%else %>
        <%driver_name = Driver.find(@trip.driver_id).name %>
        Driver: <%= link_to driver_name, driver_path(@trip.driver_id), class: "link" %>
      <% end %>
    </li>
    <li>
      <% if Passenger.find_by_id(@trip.passenger_id) == nil %>
        Passenger: passenger account deleted
      <%else %>
        <%passenger_name = Passenger.find(@trip.passenger_id).name %>
        Passenger: <%= link_to passenger_name, passenger_path(@trip.passenger_id), class: "link" %>
      <% end %>
    </li>
    <li>
      <%= f.label :cost %>
    </li>
    <li>
      <%= f.text_field :cost %>
    </li>
    <li>
      <% if @trip.rating%>
        Rating: <%=@trip.rating%>
      <% else %>
        <strong>Rating: Please select a rating</strong>
        <%= form_for @trip do |f| %>
        <%= f.select :rating, [nil, 1, 2, 3, 4, 5]%>
        <%= f.submit "submit rating" %>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= f.submit "submit trip update" %>
    </li>
    <% end %>
  </ul>
</div>
  </main>
