<h1>Trip Info</h1>

<!-- stuff you can't edit -->
<p>
  <%= @trip.date %>
</p>

<p>
  <%= @trip.cost %>
</p>


<!-- ADDED THIS TO RAISE AN ERROR IF AN ADMIN/USER EDITS A RIDE BUT DOES NOT ADD A RATING, HOWEVER WHEN YOU ADD THE VALIDATION FOR RATING, YOU CAN NO LONGER CREATE A NEW RIDE FOR A PASSENGER BECAUSE THE  -->
 <% if @trip.errors.any? %>
   <ul class="errors">
     <% @trip.errors.each do |column, message| %>
       <li>
         <strong><%= column.capitalize %></strong> <%= message %>
       </li>
     <% end %>
   </ul>
 <% end %>





<%= form_for @trip do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label "Passenger Name" %>
  <%= f.select :passenger_id, options_from_collection_for_select(Passenger.all, "id", "name", selected: @trip.passenger_id ) %>

  <%= f.submit %>
<% end %>
