<link href="/assets/style.css" media="screen" rel="stylesheet" />
<%= render partial: 'layouts/nav' %>

<section class="cool-list">
<h2>
  Trips
</h2>

  <ul>
    <% @trips.each do |trip| %>
      <li>
        <p>
          <strong>ID: <%= trip.id %></strong><br>
          Date: <%= trip.date %><br>
          Driver: <%= trip.driver.name %><br>
          Passenger: <%= trip.passenger.name %>
        </p>
      </li>
    <% end %>
  </ul>
  <section class="cool-list, float-right">
    <h2>
      <strong><%= link_to "Edit", edit_trip_path(@trips.id) %></strong>
    </h2>
  </section>
</section> <%#cool-list%>
