<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<p><%= params %></p>

<ol>
  <% if @trips.length > 0  %>
    <% @trips.each do |trip| %>
    <li>
      <p>Date: <%= trip.date %></p>
      <p>Driver:
        <% if trip.driver.nil? %>
        Driver Not in Database
        <% else  %>
        <%= trip.driver.name %>
        <% end %>
      </p>
      <p>Passenger:
        <% if trip.passenger.nil? %>
        Passenger Not in Database
        <% else  %>
        <%= trip.passenger.name %>
        <% end %>
      </p>
    </li>
    <p><%=  link_to("More Information", "#{@trip_show_route}/#{trip.id}")%></p>
    <% end %>
  <% else  %>
    <p>No trips for this passenger.</p>
  <% end  %>
</ol>
