<h1>All Trips!</h1>

<% @trips.each do |trip| %>
<div class="trip">
  <strong> driver id: <%= trip.driver_id %></strong> | passenger id: <%=trip.passenger_id %> | trip date: <%=trip.date %> <%=trip.rating %> | cost: <%=trip.cost %>
</div>
<% end %>
