<nav>
<%= render partial: 'layouts/nav'%>
</nav>

<section class="cool-list">
  <h3>
    All Trips
  </h3>
  <ul>
    <% @trips.each do |trip| %>
      <%= link_to edit_trip_path(trip.id), class: "link_to-style" do %>
        <section class="link_to-style">
          <li>
            <p>
              <strong>ID: <%= trip.id %></strong><br>
              Date: <%= trip.date %>
                <span>
                  EDIT
                </span><br>
              Driver: <%= trip.driver.name %><br>
              Passenger: <%= trip.passenger.name %><br>
              Rating: <%= trip.rating %> <br>
              Cost: <%= trip.cost %> <br>
            </p>
          </li>
        </section>
      <% end %>
    <% end %>
  </ul>
</section> <%#cool-list%>
