<section>
  <h1 class="title">Create a New Trip</h1>
</section>

<% if @trip.errors.any? %>
  <section class="errors">
    <ul>
      <% @trip.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<section class="form">
  <%= form_for @trip do |f| %>
    <%= f.label :passenger_id %>
    <%= f.select :passenger_id, options_from_collection_for_select(Passenger.order(:name), "id", "name", params[:passenger_id]) %>
    <%= f.label :driver_id %>
    <%= f.select :driver_id, options_from_collection_for_select(Driver.order(:name), "id", "name", params[:driver_id]) %>
    <%= f.label :date %>
    <%= f.date_field :date%>
    <%= f.label :cost %>
    <%= f.number_field :cost, min: 0 %>
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select((1..5)) %>
    <%= f.submit "Create Trip", class: "button" %>
  <% end %>
</section>
