<h1> Add a Trip: </h1>
<%= render partial: 'layouts/error_messages', locals: {model: @trip} %>

<%= form_for @trip do |f| %>
<%= f.label :date %>
<%= f.date_field :date %>

<%= f.hidden_field :passenger_id, :value => params[:passenger_id] %>
<%= f.hidden_field :driver_id, :value => Driver.all.sample.id %>
<%= f.hidden_field :rating, :value => nil  %>
<%= f.hidden_field :cost, :value => rand(100..1000) %>
<%= f.submit %>
<% end %>
