<h1>New Trip</h1>
<%= form_for @trip do |f| %>
<%= f.label :date %>
<p><%= @trip.date.strftime('%m-%d-%Y') %></p>
<%= f.hidden_field :date %>
<%= f.hidden_field :rating %>
<%= f.label :cost %>
<p><%= f.text_field :cost %></p>
<%= f.label :driver %>
<p><%= Driver.find_by(id: @trip.driver_id).name %></p>
<%= f.hidden_field :driver_id %>
<%= f.hidden_field :passenger_id %>

<%= f.submit %>
<% end %>
