<div class="yield-wrapper">
  <article>
    <header class="style">
      <h1>Trip Details:</h1>
      <p>
         Click on passenger or driver to view more details
      </p>
    </header>

    <section>
      <div class="detail-wrapper">
        <h1>Driver for this trip: <%= link_to @trip.driver.name, driver_path(@trip.driver_id), class: "link-styles visited-color" %> </h1>
        <h3>Passenger for this trip: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id), class: "link-styles visited-color" %></h3>
        <h3>Cost for this trip: $ <%= @trip.cost %></h3>
        <h3>Trip Rating: <%= @trip.rating %></h3>
        <% if !@trip.has_rating? %>
          <h3><%= link_to "Rate the trip", edit_trip_path(@trip), class: "link-styles visited-color"%></h3>
        <% end %>

        <nav>
          <h3><%= link_to "Delete Trip", trip_path(@trip), method: :delete , data: {confirm: "Are you sure?" }, class: "link-styles visited-color" %></h3>
        </nav>
      </div>

    </section>
  </article>
</div>
