<h1>Trip on <%= @trip.date %></h1>

<p>
  Cost: <%= @trip.cost %>
</p>

<p>
  Rating: <%= @trip.rating %>
</p>

<p>
  <% @driver = Driver.find_by(id: @trip.driver_id) %>
  Your driver was: <%= link_to(@driver.name, driver_path(@driver.id)) %>
</p>


<p>
  <% @passenger = Passenger.find_by(id: @trip.passenger_id) %>
  Your passenger was: <%= link_to(@passenger.name, passenger_path(@passenger.id)) %>
</p>

<p>
  <%= link_to("Delete Trip", delete_trip_path(@trip.id),method: :delete) %>
</p>
