<ul>
    <li> Date:<%= @trip.date %> </li>
    <li> Passenger: <%=link_to  @trip.passenger_id, passenger_path(@trip.passenger_id) %></li>
    <li> Driver: <%=link_to @trip.driver_id, driver_path(@trip.driver_id) %></li>
    <li> Cost: $<%= (@trip.cost/100).round(2) %></li>
    <li> Rating: <%= @trip.rating %></li>

    <%= link_to "Edit Rating", edit_trip_path %>
    <%= link_to "Delete Trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
</ul>
