<h2>Trip #<%= @trip.id %></h2>

<nav class="page-menu">
  <ul>
    <li>
      <%= link_to "Edit", edit_trip_path %>
    </li>
    <li>
      <%= link_to "Delete", trip_path, method: :delete, data: {confirm: "Are you sure??"} %>
    </li>
  </ul>
</nav>

<ul>
  <li>
    Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id), class: "profile-link" %>
  </li>
  <li>
    Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id), class: "profile-link" %>
  </li>
  <li>
    Date: <%= @trip.date.strftime("%B %d, %Y") %>
  </li>
  <li>
    Rating: <%= render partial: "/layouts/set_stars", locals: {trip: @trip} %>
  </li>
  <li>
    Cost: <%= "$#{(@trip.cost.to_f / 100).round(2)}"%>
  </li>
</ul>
