<h2> This is the show page for Trip</h2>

<div>
  <ol>
    <li>ID: <%=@trip.id %></li>
    <li>Date: <%=@trip.date %> </li>
    <li>Driver: <%= link_to Driver.find(@trip.driver_id).name, driver_path(@trip.driver_id) %> </li>
    <li>Passenger: <%= link_to Passenger.find(@trip.passenger_id).name, passenger_path(@trip.passenger_id) %> </li>
    <li>Rating:
    <% if @trip.rating == 0 %>
        <%= @trip.rating  %>
       <% else %>
      <%= form_for @trip do |f| %>
      <%= f.select :rating, [1, 2, 3, 4, 5]%>
      <%= f.submit "submit rating" %>
      <% end %>
    <% end %>

       </li>
    <li>Cost: <%= @trip.cost %> </li>
  </ol>




</div>
