<h1 class="details-table-header">Trip Details</h1>

<table class= "details-table">
   <tr>
     <th>
       ID
     </th>
     <th>
       Date
     </th>
     <th>
       Driver
     </th>
     <th>
       Passenger
     </th>
     <th>
       Price
     </th>
     <th>
       Rating
     </th>
     <th>
       Edit
     </th>
     <th>
       Delete
     </th>
   </tr>
     <tr>
     <td>
       <%= link_to @trip.id, trip_path(@trip.id) %>
     </td>
     <td>
       <%= @trip.date %>
     </td>
     <td>
       <%= link_to @trip.driver.name, driver_path(@trip.driver_id) %>
     </td>
     <td>
       <%= link_to @trip.passenger.name, passenger_path(@trip.passenger_id) %>
     </td>
     <td>
       <%= (Money.new(@trip.cost, "USD")).format %>
     </td>
     <td>
       <% if @trip.rating == nil %>
        <%= "Not Yet Rated" %>
        <% else %>
       <%= @trip.rating %>
       <%end %>
     </td>
     <td>
       <%= link_to "Edit Trip", edit_trip_path(@trip.id) %>
     </td>
     <td>
       <%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {:confirm => "Are you sure you want to delete this trip?"} %>
     </td>
   </tr>
</table>
