<h2>Trip #<%= @trip.id %></h2><br />
<%= link_to "Edit", edit_trip_path %> |
<%= link_to "Delete", trip_path, method: :delete, data: {confirm: "Are you sure??"} %>

<ul>
  <li>
    Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %>
  </li>
  <li>
    Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %>
  </li>
  <li>
    Date: <%= @trip.date.strftime("%B %d, %Y") %>
  </li>
  <li>
    Rating: <%= render partial: "/layouts/stars", locals: {rating: @trip.rating} %>
  </li>
  <li>
    Cost: <%= "$#{(@trip.cost.to_f / 100).round(2)}"%>
  </li>
</ul>
