<h1>Trip on <%= @trip.date %></h1>

<p>
  Cost: <%= @trip.cost %>
</p>

<p>
  Rating: <%= @trip.rating %>
</p>

<p>
  <% @driver = Driver.find_by(id: @trip.driver_id) %>
  Your driver was: <%= @driver.name %>
</p>

<p>
  <% @passenger = Passenger.find_by(id: @trip.passenger_id) %>
  Your passenger was: <%= @passenger.name %>
</p>
