<h1>Trip ID: <%= @trip.id %></h1>
<section>
  <table>

    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Cost</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Rating</th>
      <th></th>
      <th></th>
    </tr>
  <tr>
  <td>
    <%= @trip.id %><%# link_to 'Trip Details', trip_path(trip.id), method: :get %>
  </td>
  <td>
    <%= @trip.date %>
  </td>
  <td>
    <%= @trip.cost %>
  </td>
  <td>
    <%= link_to @trip.driver.name, driver_path(id: @trip.driver.id)%>
  </td>
  <td>
    <%= link_to @trip.passenger.name, passenger_path(id: @trip.passenger.id) %>
  </td>
  <td>
    <%= @trip.rating %>
  </td>
  <td>
    <%= link_to "Edit", edit_trip_path(@trip.id)%>
  </td>
  <td>
    <%= link_to "Delete", trip_path(@trip.id), method: :delete %>
  </td>
  </tr>

  </table>

</section>
