<h2> This is the show page for Trip</h2>

<div>
  <ul>
    <li>Trip ID: <%=@trip.id %></li>
    <li>Date: <%=@trip.date %> </li>
  <li>
    <% if Driver.find_by_id(@trip.driver_id) == nil %>
      Driver: driver account deleted
    <%else %>
      <%driver_name = Driver.find(@trip.driver_id).name %>
      Driver: <%= link_to driver_name, driver_path(@trip.driver_id) %>
    <% end %>
  </li>

    <li>
      <% if Passenger.find_by_id(@trip.passenger_id) == nil %>
      Passenger: passenger account deleted
      <%else %>
      <%passenger_name = Passenger.find(@trip.passenger_id).name %>
      Passenger: <%= link_to passenger_name, passenger_path(@trip.passenger_id) %>
      <% end %>
    </li>

    <li>Rating:
    <% if @trip.rating%>
        <%= @trip.rating  %>
       <% else %>
      <%= form_for @trip do |f| %>
      <%= f.select :rating, [1, 2, 3, 4, 5]%>
      <%= f.submit "submit rating" %>
      <% end %>
    <% end %>

       </li>
    <li>Cost: $<%= "%.2f" % @trip.cost %> </li>
  </ul>

<%= link_to "Edit trip information", edit_trip_path(@trip.id), class: "link"%>
<%= link_to "Delete", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip from the database? You can not undo this action."}%>

</div>
