<h3>TRIPS DETAILS</h3>
<br />
<ul>
  <li>Trip ID: <%= @trip[:id]%></li>
  <li>Driver ID: <%= @trip[:driver_id]%></li>
  <li>Passenger ID: <%= @trip[:passenger_id]%></li>
  <li>Trip Date: <%= @trip[:date]%></li>
  <li>Rating: <%= @trip[:rating]%></li>
  <li>Cost: $<%= @trip.to_dollars%></li>
</ul>
<br />
<h3>TRIP LINKS</h3>
<p><%= link_to 'DRIVER DETAILS', driver_path(@trip[:driver_id])%></p>
<p>PASSENGER DETAILS</p>
<br />
<h3>TRIP ACTIONS</h3>
<p><%= link_to 'EDIT', edit_trip_path%></p>
<p><%= link_to 'DELETE', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure you want to delete this trip?'} %></p>
