<h1> Individual trip detail </h1>
<p>trip id: <%= @trip.driver_id %></p>
<p>passenger id: <%= @trip.passenger_id %></p>
<p>date: <%= @trip.date %></p>
<p>rating: <%= @trip.rating %></p>
<p>cost: <%= @trip.cost %></p>
