<h1> Individual trip detail </h1>

<p> driver id: <%= link_to @trip.driver_id, driver_path %></p>
<p>passenger id: <%= link_to @trip.passenger_id, passenger_path %></p>
<p>date: <%= @trip.date %></p>
<p>rating: <%= @trip.rating %></p>
<p>cost: <%= '%.02f' % (@trip.cost / 100) %></p>
<p>trip ID: <%= @trip.id %></p>
