<h1> Individual trip detail </h1>

<p>driver id: <%= @trip.driver_id %></p>
<p>passenger id: <%= @trip.passenger_id %></p>
<p>date: <%= @trip.date %></p>
<p>rating: <%= @trip.rating %></p>
<p>cost: <%= '%.02f' % (@trip.cost / 100) %></p>
<p>trip ID: <%= @trip.id %></p>
