<h1> Trip Detail Page </h1>
<section>
  <% if @trip %>
    <h3><%= "ID: #{@trip.id}" %></h3>
    <p><%= "Date: #{@trip.date}" %></p>
    <p><%= "Rating: #{@trip.rating}" %></p>
    <p>Cost: $<%= '%.02f' % ((@trip.cost).to_f/100) %></p>
    <p>Driver: <%= link_to "#{@trip.driver.name}", driver_path(@trip.driver.id) %></p>
    <p>Rider: <%= link_to "#{@trip.rider.name}", rider_path(@trip.rider.id) %></p>
    <% else %>
    <h2> Trip ID does not found </h2>
  <% end %>
</section>

<%= link_to "Edit", edit_trip_path(@trip.id)%>
<%= link_to "Delete", delete_trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure?"}%>
