<h1>Trip info</h1>

<h3>Passenger: <%=@passenger.name%></h3>
<h3>Driver: <%=@driver.name%></h3>
<h3>Date: <%=@trip.date%></h3>
<h3>Rating: <%=@trip.rating %></h3>
<h3>Cost: <%="$#{"%.02f" % (@trip.cost/100)}"%></h3>
