<h1>Trips#show</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<section>
    <%= link_to("Edit Trip", edit_trip_path(@trip.id)) %>
    <%= link_to("Delete Trip", delete_trip_path(@trip.id), method: :delete, data: {confirm: "Noooooooo! I'm pregnant! It's your baby!"}) %>
</section>


</section>

<article>
  <ul>
    <li>
      <strong>ID: </strong>
      <%= @trip.id %>
    </li>
    <li>
      <strong>Cost: </strong>
      <%= @trip.cost/100 %>
    </li>
    <li>
      <strong>Date: </strong>
      <%= @trip.date %>
    </li>
    <li>
      <% if @trip.rating %>
        <strong><%= @trip.rating  %></strong>
      <% else %>
        <%= form_for @trip do |f| %>
          <strong><%= f.label :rating %></strong>
          <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </li>
    <li>
      <strong>Driver Name: </strong>
      <%= link_to(@trip.driver.name, driver_path(@trip.driver.id)) %>
    </li>
    <li>
      <strong>Passenger Name: </strong>
      <%= link_to(@trip.passenger.name, passenger_path(@trip.passenger.id)) %>
    </li>

  </ul>

</article>
