<%= render partial: 'layouts/nav' %>


<h2> Trip # <%= @trip.id %> </h2>
  <ul>
    <li> Date: <%= @trip.date %> </li>
    <li> Driver: <%= @trip.driver.name %> </li>
    <li> Rating: <%= @trip.rating %> </li>
    <li> Cost: <%= @trip.cost %> </li>
    <li> Passenger: <%= @trip.passenger.name %> </li>
  </ul>

<section>
  <%= link_to 'Edit Trip', edit_trip_path %>
</section>
