<h2>Show the trip!!!</h2>
    <%= @trip.passenger.name %>
    <%= @trip.driver.name %>
    <%= "Cost of trip: #{@trip.cost/100.round(2)}" %>
    <%= "Trip rating: #{@trip.rating}" %>
    <%= link_to "Edit rating", edit_trip_path %>
    <%= button_to "Delete", trip_path(@trip.id), method: :delete %>
