<h1>Passenger ID: <%= @passenger.id %></h1>
<h2>Passenger Name: <%= @passenger.name %></h2>
<h5><%= link_to "Edit", edit_passenger_path(@passenger.id)%></h5>
<h5><%= link_to "Delete", passenger_path(@passenger.id), method: :delete %></h5>

<section>
  <table>

    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Driver</th>
    </tr>
  <% @trips.each do |trip| %>
  <tr>
  <td>
    <%= link_to trip.id, trip_path(trip.id), method: :get %>
  </td>
  <td>
    <%= trip.date %>
  </td>
  <td>
    <%= trip.rating %>
  </td>
  <td>
    <%= trip.cost %>
  </td>
  <td>
    <%= trip.driver.name %>
  </td>
  </tr>
  <% end %>

  </table>

</section>
