
<h2>Params are <%=params%></h2>

<% if params[:controller] == "drivers" %>
<%= form_for @driver do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :vin %>
<%= f.text_field :vin %>
<%= f.submit button_name%>
<% end %>
<% end %>

<% if params[:controller] == "passengers" %>
<%= form_for @passenger do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :phone_num %>
<%= f.text_field :phone_num %>
<%= f.submit button_name%>
<% end %>
<% end %>

<% if params[:controller] == "trips" %>
<%= form_for @trip do |f| %>
<%= f.label :date %>
<%= f.date_select :date %>
<%= f.label :rating %>
<%= f.range_field :rating, in: 1..5, :step => 1 %>
<%= f.label :cost %>
<%= f.text_field :cost %>
<%= f.label :driver %>
<%= f.collection_select(:driver_id, Driver.all, :id, :name) %>
<%= f.label :passenger %>
<%= f.collection_select(:passenger_id, Passenger.all, :id, :name) %>

<%= f.submit %>
<% end %>
<% end %>
