<% button_text ||= %>

<% if @passenger.errors.any? %>
  <% @passenger.errors.each do |column, message| %>
    <h2 class="error-color align-center"><%= column.capitalize %> <%= message %></h2>
  <% end %>
<% end %>

<div class="detail-wrapper">
  <%= form_for @passenger do |f| %>
    <div class="form-box-wrapper">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-box-wrapper">
      <%= f.label "Phone Number" %>
      <%= f.text_field :phone_num %>
    </div>
    <%= f.submit button_text %>
  <% end %>
</div>
