<%= form_for @passenger do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_num %>
</div>

<div>
  <%= f.submit %>
</div>
<% end %>
