<h1> Edit passenger: </h1>

<%= render partial: 'layouts/error_messages', locals: {model: @passenger} %>


<%= form_for @passenger do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :phone_num %>
<%= f.text_field :phone_num %>
<br>
<%= f.submit %>
<% end %>
