<h2> New Passenger </h2>

<%= render partial: 'layouts/error_messages', locals: { model: @passenger } %>

<%= form_for  @passenger do |f| %>
  <%= f.label :name, :class => "passenger_label" %>
  <%= f.text_field :name, :class => "passenger_field" %>
  <br />
  <br />
  <%= f.label :phone_num, :class => "passenger_label" %>
  <%= f.text_field :phone_num, :class => "passenger_field" %>
  <br />
  <br />
  <%= f.submit %>
<% end %>
