<h1>Add new passenger</h1>
<%= form_for @passenger do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>

  <%= f.label "Phone Number" %>
  <%= f.text_field :phone_num %>


  <%= f.submit "Submit" %>

<% end %>
