<% if @passenger %>
<% else %>
<h1>404: Not Found</h1>
<% end %>

<h2>Passenger: <%= @passenger.name %></h2>
<h4 id="phone"><%= @passenger.name %>'s phone number is: <%= @passenger.phone_num %></h4>


<section class="edit_delete">
  <ul>
    <li>
      <%= link_to "New Trip", passenger_trips_new_path(params[:id]) %>
    </li>
    <li>
      <%=link_to "Edit", edit_passenger_path(@passenger.id) %>
    </li>
    <li>
      <%=link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
</section>

<h4 class="past_trips">Past Trips: </h4>
<% total_cost = 0 %>

<section class="trips_blocks">
  <% @passenger.trips.each do |trip| %>

  <article class="trip_details">
    <h4><%= "Details for "%><%= link_to "Trip #{trip.id}", trip_path(trip.id) %><%= " taken on " %><%= trip.date %></h4>
    <ul>
      <li>
        <strong>Driver: </strong> <%= trip.driver.name %>
      </li>
      <li>
        <% if !trip.cost %>
        <% trip.cost = 0 %>
        <%end%>
        <strong>Cost: $</strong> <% total = ((trip.cost) / 100.0) %><%= "%.2f"%total %>
      </li>
      <li>
        <strong>Rating:  </strong><%= trip.rating %>
      </li>
    </ul>
  </article>
  <% total_cost += trip.cost %>
  <% end %>
</section>

<%= "Total Spent: $" %>
<% final_total_cost = total_cost/100.0%><%= "%.2f"%final_total_cost %>
