<h1><%= @passenger.name %></h1>

<p>
  <strong>Phone Number:</strong> <%= @passenger.phone_num %>
</p>

<p>
  <strong>Total Amount Charged: </strong><%= @passenger.charged%>
</p>

<p>
  <%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %>
  <%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {:confirm => "Are you sure you want to delete this driver?"} %>
</p>

<h3> Trip Details </h3>
<p>
<%= link_to 'Add trip', new_passenger_trip_path(:passenger_id => @passenger.id) %>
</p>
<table>
   <tr>
     <th>
       ID
     </th>
     <th>
       Date
     </th>
     <th>
       Passenger
     </th>
     <th>
       Driver
     </th>
     <th>
       Price
     </th>
     <th>
       Rating
     </th>
     <th>
       Edit
     </th>
     <th>
       Delete
     </th>
   </tr>
     <% @passenger.trips.each do |trip| %>
     <tr>
     <td>
       <%= link_to trip.id, trip_path(trip.id) %>
     </td>
     <td>
       <%= trip.date %>
     </td>
     <td>
       <%= link_to trip.passenger.name, driver_path(trip.driver_id) %>
     </td>
     <td>
       <%= link_to trip.driver.name, passenger_path(trip.passenger_id) %>
     </td>
     <td>
       <%= (Money.new(trip.cost, "USD")).format %>
     </td>
     <td>
       <% if trip.rating == nil %>
        <%= "Not Yet Rated" %>
        <% else %>
       <%= trip.rating %>
       <%end %>
     </td>
     <td>
       <%= link_to "Edit Trip", edit_trip_path(trip.id) %>
     </td>
     <td>
       <%= link_to "Delete Trip", trip_path(trip.id), method: :delete, data: {:confirm => "Are you sure you want to delete this trip?"} %>
     </td>
   </tr>
     <% end %>
</table>


<% i = 1 %>
<% @passenger.trips.each do |trip| %>
<p>
  <%= link_to "Trip #{i}:", trip_path(trip.id) %>
  Date: <%= trip.date %>,
  Rating: <%= trip.rating %>,
  Cost: <%= Money.new(trip.cost).format%>
    <% i += 1 %>
</p>

<% end %>
<!-- Clicking on a trip from the list will take me to a detail page for that trip
Click links to edit and delete that passenger
Add a new trip for this passenger
An available driver is selected by the server
The trip starts with no rating
When adding a new passenger:
The user must provide a name and phone number
Don't worry about how the phone number is formatted -->
