<h1>Passenger Details</h1>

<p><%= @passenger.name %></p>
<p><%= @passenger.phone_num %></p>

<%= link_to "Add trip", new_passenger_trip_path(@passenger) %>
<%= link_to "Edit Passenger", edit_passenger_path %>
<%= link_to "Delete Passenger", passenger_path(@passenger), method: :delete %>


<h3> Trips </h3>

<ul>
  <%@trips.each do |trip|%>

  <li>  <%= link_to trip.id, trip_path(trip.id)  %> </li>

  <% end %>

  cost: <%= @passenger.total_amount %>
</ul>
