<h1>Passenger Details</h1>

<p><%= @passenger.name %></p>
<p><%= @passenger.phone_num %></p>


<h3> Trip details</h3>
<p> Date:<%= @trips.date %></p>
<p> Driver: <%= @trips.driver_id %></p>
<p> Cost: <%= @trips.cost %></p>
<p> Rating: <%= @trips.rating %></p>
