<h1>passengers#show</h1>

<h2>Params:<%= params %></h2>
<h2><%= link_to("Delete Passenger", passenger_path, method: :delete) %></h2>
<h2><%= link_to("Edit Passenger", edit_passenger_path) %></h2>
<h3>Name: <%= @passenger.name %></h3>
<h3>Phone: <%= @passenger.phone_num %></h3>
<h3>Total Trips Cost: $<%= @passenger.total_trip_cost %>
  <h3>Trips: </h3>
  <ul>
    <% @passenger.trips.each do |trip| %>
    <li>
      <p>ID:<%= link_to(trip.id, trip_path(trip.id)) %></p>
      <p>Date: <%= trip.date.strftime('%m-%d-%Y') %></p>
      <p>Cost: $<%= trip.cost/100.0 %></p>
      <p>Driver: <%= trip.driver_id %></p>
      <p>Rating: <%= trip.rating %></p>
    </li>
    <% end %>
  </ul>
  <%= button_to("Add a Trip", new_passenger_trip_path, method: :get) %>
