<% if @passenger %>
<% else %>
<h1>404: Not Found</h1>
<% end %>

<h1>Passenger Details for :  <%= @passenger.name %></h1>

<section class="links">
  <ul>
    <li>
    <%= link_to "New Trip", new_trip_path %>
    </li>
    <li>
      <%=link_to "Edit", edit_passenger_path(@passenger.id) %>
    </li>
    <li>
      <%=link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <li>
    <%= link_to "All Trips", passengers_path %>
    </li>
  </ul>
</section>

<h2>List of trips : </h2>

  <strong><%= @passenger.name %></strong>'s phone number is: <%= @passenger.phone_num %>
</p>
<% total_cost = 0 %>
<p><% @passenger.trips.each do |trip| %></p>

  <%= "Trip Cost: $" %><% total = ((trip.cost) / 100) %><%= "%.2f"%total %>

  <% total_cost += trip.cost %>
  <%= "Trip Rating: " %><%= trip.rating %>
  <%= "Trip Date: " %><%= trip.date %>
  <%= "Trip Driver: " %><%= trip.driver_id %>
  <%= "Trip ID: " %> <%= link_to trip.id, trip_path(trip.id) %>
<% end %>

<%= "Total Cost: $" %>
<% final_total_cost = total_cost/100%><%= "%.2f"%final_total_cost %>
