<h2>
<%= "Passenger #{@passenger.id}: #{@passenger.name}" %>
</h2>

<%= "Phone number: #{@passenger.phone_num}" %>


<% total_cost = 0 %>
<% @passenger.trips.each do |trip| %>
  <% total_cost += trip.cost %>
  <% end %>
<%= "passenger has spent $#{total_cost/100.round(2)}" %>



<%=button_to "Edit", edit_passenger_path(@passenger.id), method: :get%>
<%=button_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"} %>

<!-- I want to create logic that will show all the rides this passenger has taken -->
<!-- number of trips -->
<!-- Need to create list of trips taken with a link to the trip details   -->

<%= "Passenger #{@passenger.name} has taken #{@passenger.trips.length} trip(s)" %>

<ol>
<% @passenger.trips.order(date: :desc).each do |trip| %>
<li>
  <%= link_to "Trip #{trip.id}", trip_path(trip.id) %>
  <%= "Driver Id: #{trip.driver_id}" %>
  <%= "Cost of trip: #{trip.cost}" %>
  <%= "Trip rating: #{trip.rating}" %>
</li>
<% end %>
</ol>



<!-- Need to add button to add new trip  -->
