<article class="page">
  <h2 class="page-title">Passenger Details</h2>

  <section class="pass-info">
    <h3 class="table-heading">Passenger Information</h3>
    <div>
      <figure class="pass-portrait">
        <img src="http://www.placecage.com/220/220" alt="">
      </figure>
      <table class="pass-deets">
        <tr>
          <td class="icon"><i class="fa fa-hashtag"></i></td>
          <td class="title">ID number</td>
          <td class="data"><%= @passenger[:id] %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fa fa-user"></i></td>
          <td class="title">Name</td>
          <td class="data"><%= @passenger[:name] %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fa fa-phone"></i></td>
          <td class="title">Phone number</td>
          <td class="data"><%= @passenger[:phone_num] %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fa fa-usd"></i></td>
          <td class="title">Total spent</td>
          <td class="data">$<%= @passenger.total_money%></td>
        </tr>
      </table>
    </div>
  </section>

  <section class="pass-actions">
    <%= link_to edit_passenger_path(@passenger) do %>
      <i class="fa fa-edit"></i> EDIT
    <% end %>
    <%= link_to passenger_path(@passenger), method: :delete, data: { confirm: 'Are you sure you want to delete this passenger?'} do %>
      <i class="fa fa-trash-o"></i> DELETE
    <% end %>
    <%= link_to new_passenger_trip_path(@passenger[:id]) do %>
      <i class="fa fa-plus-circle"></i> ADD TRIP
    <% end %>
  </section>

  <section class="pass-info">
    <h3 class="table-heading">Passenger Trips</h3>
    <table class="pass-trips">
      <tr>
        <th>Driver ID</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Cost</th>
        <th>More</th>
      </tr>
      <% @passenger.trips.each do |trip|%>
        <tr>
          <td><%= trip.driver_id%></td>
          <td><%= trip.date%></td>
          <td>
            <%= render partial: 'layouts/star', locals: { model: trip.rating } %>
          </td>
          <td>$<%= trip.to_dollars%></td>
          <td>
            <%= link_to trip_path(trip[:id]) do %>
              <i class="fa fa-search"></i> View Details
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </section>
</article>
