<h1>Passenger Info</h1>

<div class="notice">
  <%= flash[:notice] %>
</div>

<%=link_to("Edit Passenger", edit_passenger_path(@passenger.id)) %>
<%= link_to("Delete Passenger", delete_passenger_path, method: :delete, data: { confirm: "Are you sure?" }) %>
<%= link_to("New Trip", create_trip_passenger_path(@passenger.id), method: :post) %>
<%#button_to("New Trip", create_trip_passenger_path(@passenger.id), method: :post) %>

<!-- <%# button_to 'Edit', edit_task_path(@task.id), method: :get %> -->



<% if @passenger %>
<ul>
  <li>
    Name: <%=@passenger[:name] %>
  </li>
  <li>
    Phone Number: <%= @passenger[:phone_num] %>
  </li>
  <li>
    Total Spent: <%= number_to_currency(@passenger.total_cost, precision: 2) %>
  </li>
  <li>
    Trips
    <ul>
      <% @trips.each do |trip| %>
      <li>
        <%= link_to("Date: #{trip.date}", trip_path(trip.id)) %>
      </li>
      <li>
        <% @rated = trip.rating == nil || trip.rating == 0 ? "unrated" : "rated" %>
        Rating: <span class="<%=@rated%>"><%= trip.rating %></span>
        <% if @rated == "unrated" %>
          <%=link_to("Rate Trip", edit_trip_path(trip.id))%>
        <% end %>
      </li>
      <li>
        Cost: <%= number_to_currency(trip.cost, precision: 2) %>
      </li>
      <% end %>
    </ul>
  </li>
</ul>

<% else %>
<h1>404: Not Found</h1>
<% end %>
