<h1> Individual passenger detail </h1>
<p>
  <strong><%= @passenger.name %></strong>'s phone number is: <%= @passenger.phone_num %>
</p>
<% total_cost = 0 %>
<p><% @passenger.trips.each do |trip| %></p>

  <%= "Trip Cost: $" %><% total = ((trip.cost) / 100) %><%= "%.2f"%total %>

  <% total_cost += trip.cost %>
  <%= "Trip Rating: " %><%= trip.rating %>
  <%= "Trip Date: " %><%= trip.date %>
  <%= "Trip Driver: " %><%= trip.driver_id %>
  <%= link_to "Edit", edit_trip_path(trip.id) %>
  <%= link_to "Details", trip_path(trip.id) %>
<% end %>

<%= "Total Cost: $" %>
<% final_total_cost = total_cost/100%><%= "%.2f"%final_total_cost %>

<%= link_to "Edit Passenger", edit_passenger_path(@passenger) %>

<%= link_to 'Delete Passenger',
  passenger_path(:passenger_id),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>

  <%= link_to 'Add NEW trip', new_passenger_trip_path(@passenger.id) %>
