<h1>Passengers#show</h1>

<%= link_to("Edit Passenger", edit_passenger_path(@passenger.id)) %>
<%= link_to("Delete Passenger", delete_passenger_path(@passenger.id), method: :delete, data: {confirm: "Noooooooo! I'm pregnant! It's your baby!"}) %>

<h3>Passenger Total Charged:</h3>
<p><%= @passenger.total_charged %></p>

<section>
    <h1><%= @passenger.name  %></h1>
    <p>
    <%= @passenger.phone_num %>
    </p>
</section>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Cost</th>
      <th>Driver Name</th>
      <th>Rating</th>
    </tr>
  </thead>


  <tbody>
    <% @passenger.trips.each do |t|  %>
    <tr>
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.cost %>
      </td>
      <td>
        <%= t.driver.name %>
      </td>
      <td>
        <%= t.rating %>
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>
