<h1>Passengers#show</h1>
<p>Find me in app/views/passengers/show.html.erb</p>

<%=link_to("Edit Passenger", edit_passenger_path(@passenger.id)) %>
<%= link_to("Delete Passenger", delete_passenger_path, method: :delete, data: { confirm: "Are you sure?" }) %>
<%= link_to("New Trip", create_trip_passenger_path(@passenger.id), method: :post) %>
<%#button_to("New Trip", create_trip_passenger_path(@passenger.id), method: :post) %>

<!-- <%# button_to 'Edit', edit_task_path(@task.id), method: :get %> -->



<% if @passenger %>
  Name: <%=@passenger[:name] %>
  Phone Number: <%= @passenger[:phone_num] %>
  Total Spent: $<%= @passenger.total_cost %>

  <ul>
    Trips
    <% @trips.each do |trip| %>
    <li>
      Date: <%= trip.date %>
    </li>
    <li>
      Rating: <%= trip.rating %>
    </li>
    <li>
      Cost: $<%= (trip.cost / 100).round(2) %>
    </li>
    <% end %>
  </ul>
<% else %>
  < h1>404: Not Found</h1>
<% end %>
