<h1>Passenger information for: <%= @passenger.name %></h1>

<h2><%= @passenger.name %></h2>
<h4>Phone number: <%= @passenger.phone_num %></h4>

  <% total_charged = 0 %>
  <% @trips.each do |trip| %>
      <% total_charged += trip[:cost] %>
  <% end %>
<h4> Total charged: <%= "$#{(total_charged.to_f/100)}" %> </h4>

<h4> List of Trips: </h4>
  <ul>
  <% @trips.each do |trip| %>
    <li><%= link_to(trip.date, trip_path(trip.id)) %></li>
  <% end %>
  </ul>

<ul>
  <li><%= link_to "Edit Passenger", edit_passenger_path %></li>
  <li><%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete%></li>
</ul>
