<h1>passengers#show</h1>

<h2>Params:</h2>
<h3><%= params %></h3>
<h2><%= link_to("Delete Passenger", passenger_path, method: :delete) %></h2>
<h3>Name: <%=@passenger.name %></h3>
<h3>Phone: <%=@passenger.phone_num %></h3>
<% trips = Trip.all.where(passenger_id: @passenger.id) %>
<h3>Trips: <%= Trip.where(passenger_id: @passenger.id).find_each do |trip| %>
<h4>Trip ID:<%= link_to(trip.id, trip_path(trip.id)) %></h4>
<% end %>
