<h1><%= @passenger.name %></h1>

<section>
<h3>Passenger Total Charged:</h3>
  <p><%= (@passenger.total_charged / 100).round(2) %></p>
<h3>Phone Number:</h3>
  <p><%= @passenger.phone_num %></p>
</section>

<section>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Cost</th>
      <th>Driver Name</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @passenger.trips.each do |t|  %>
    <tr>
      <td>
        <%= link_to(t.id, trip_path(t.id)) %>
      </td>
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= format("%.2f", t.cost / 100) %>
      </td>
      <td>
        <%= t.driver.name %>
      </td>
      <td>
        <%= t.rating %>
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>
</section>

<section class = "button">
<%= link_to("Edit Passenger", edit_passenger_path(@passenger.id)) %>
<%= link_to("Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Noooooooo! I'm pregnant! It's your baby!"}) %>
<%= link_to("New Trip", create_trip_path(:passenger => @passenger.id), method: :post) %>
</section>
