<h2>
<%= "Passenger #{@passenger.id}: #{@passenger.name}" %>
</h2>

<%= "Phone number: #{@passenger.phone_num}" %>

<%=button_to "Edit", edit_passenger_path(@passenger.id), method: :get%>
<%=button_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"} %>

<!-- I want to create logic that will show all the rides this passenger has taken -->
<!-- number of trips -->
<!-- Need to create list of trips taken with a link to the trip details   -->

<%= "Passenger #{@passenger.name} has taken #{@passenger.trips.length} trips" %>

<ol>


<% @passenger.trips.each do |trip| %>
<li>
  <%= "Driver Id: #{trip.driver_id}" %>
  <%= "Cost of trip: #{trip.cost}" %>
  <%= "Trip rating: #{trip.rating}" %>

</li>
<% end %>
<!-- Need to add button to add new trip  -->
</ol>
