<!-- require 'app/helpers/application_helper' -->
<h1>Passengers#show</h1>
<%= "Hi my name is #{@passenger.name}.  You can reach me at #{@passenger.phone_num}.  I have spent $#{@passenger.total_spent}" %>
<hr />
<% if !@trips.empty? %>
<% @trips.each do |trip| %>
Trip ID: <%= link_to(trip.id, trip_path(trip.id))  %>
<ul>
  <li>Date: <%=trip.date%>
  </li>
  <li>
    Driver: <%= link_to(trip.driver.name, driver_path(trip.driver.id)) %>
  </li>
  <li>
    Rating: <%= trip.rating %>
  </li>
  <li>
    Cost: <%= money_format(trip.cost) %>
  </li>
</ul>
<% end %>
<% else %>
<p>
  This passenger has not gone on any rides wow.
</p>

<% end %>
<p>Find me in app/views/passengers/show.html.erb</p>
