<h1> Rider Detail Page </h1>
<section>
  <% if @rider %>
    <h3><%= "NAME: #{@rider.name}" %></h3>
    <p><%= "ID: #{@rider.id}" %></p>
    <p><%= "PHONE: #{@rider.phone}" %></p>
    <% else %>
    <h2> Rider ID does not found </h2>
  <% end %>
</section>

<section>
  <h3>Rider's Trips</h3>
  <%= render partial: '/partial_views/trips_list'%>
</section>

<section>
  <h3>Rider's Total Spent</h3>
  <%= "$#{@rider.total_cost.to_s.insert(-3,".")}" %>
</section>

<%= link_to "Edit", edit_rider_path(@rider.id)%>
<%= link_to "Delete", delete_rider_path(@rider.id), method: :delete, data: {confirm: "Are you sure?"}%>
