<% button_text ||= "" %>

<% if @passenger.errors.any? %>
  <% @passenger.errors.each do |column, message| %>
    <h2 class="error-color align-center"><%= column.capitalize %> <%= message %></h2>
  <% end %>
<% end %>

<% if @driver.errors.messages.length > 0 %>
  <ul>
    <% @driver.errors.messages.each do |field, problems|%>
      <% problems.each do |problem|%>
        <li class="error-color align-center"><%= field.capitalize %> <%= problem %></li>
      <%end%>
    <%end%>
  </ul>
<%end%>

<div class="detail-wrapper">
  <%= form_for @driver do |f| %>
    <div class="form-box-wrapper">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-box-wrapper">
      <%= f.label :vin %>
      <%= f.text_field :vin %>
    </div>
    <%= f.submit button_text %>
  <% end %>
</div>
