<% if @driver.errors.messages.length > 0 %>
<section class= "error-messages">
  <h3>Errors Happened!</h3>
  <ul>
    <% @driver.errors.messages.each do |field, problems| %>
      <% problems.each do |problem| %>
      <li> <%= field %>
      <%= problem %>
    </li>
    <% end %>
  <%end%>
  </ul>
</section>
<%=end%>

<%#= render partial: './layouts/error_messages', locals {model: @passengers} %>
<div>
  <%= form_for @driver do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br />
  <%= form.label :vin %>
  <%= form.text_field :vin %>
  <br />
  <%= form.submit "update driver information"%>
<% end %>
</div>
