<% button_text ||= "" %>

<% if @driver.errors.any? %>
  <% @driver.errors.each do |column, message| %>
    <h2 class="error-color align-center"><%= column.capitalize %> <%= message %></h2>
  <% end %>
<% end %>

<div class="detail-wrapper">
  <%= form_for @driver do |f| %>
    <div class="form-box-wrapper">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-box-wrapper">
      <%= f.label :vin %>
      <%= f.text_field :vin %>
    </div>
    <%= f.submit button_text %>
  <% end %>
</div>
