<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<section>
  <%= form_for @driver do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :vin, 'Vehicle Identification Number' %>
  <%= f.text_field :vin %>
  <%= f.submit action_name %>
  <% end %>
</section>
