

<%= render partial: 'layouts/error_messages', locals: {model: @driver} %>

<div>
  <%= form_for @driver do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br />
  <%= form.label :vin %>
  <%= form.text_field :vin %>
  <br />
  <%= form.submit button_text%>
<% end %>
</div>
