<h1>This is the new driver page</h1>

<p>
  <form>
    <%= form_for @driver do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br />
    <%= form.label :vin %>
    <%= form.text_field :vin %>
    <br />
    <%= form.submit "submit new driver information"%>
  <% end %>
  </form>
</p>
