<h1 class="form_title">Edit Driver</h1>
<!-- <%= form_for @driver do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :vin %>
<%= f.text_field :vin %>
<%= f.submit %>
<% end %> -->

<%= render partial: "shared/form", locals: {button_name: "Edit Driver", top: "Edit Driver"} %>
