<article class="bg-color height">
  <header class="style">
    <h1>Edit Driver: <%= @driver.name %></h1>
  </header>
  <section>

    <% if @driver.errors.any? %>
      <% @driver.errors.each do |column, message| %>
        <h2 class="error-color align-center"><%= column.capitalize %> <%= message %></h2>
      <% end %>
    <% end %>

    <div class="detail-wrapper">
      <%= form_for @driver do |f| %>
        <div class="form-box-wrapper">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="form-box-wrapper">
          <%= f.label :vin %>
          <%= f.text_field :vin %>
        </div>
        <%= f.submit button_text %>
      <% end %>
    </div>
    <!-- <%= render partial: "error" %>
    <%# See _error.html.erb under drivers views for partial %>
    <%= render partial: "form", locals: { button_text: "Make Driver Changes" } %> -->
    <%# See _form.html.erb under drivers views for partial %>
  </section>
</article>
