<h2> Drivers </h2>

<p>
  <%= link_to "All Drivers", drivers_path %>
</p>
<p>
  <%= link_to "Add New Driver", new_driver_path %>
</p>

<ul class="index">
  <% @drivers.each do |driver| %>
    <li>
      <strong>
        <%= link_to driver_path(driver.id) do %>
          <span><%= driver.name %></span>
          <span><%= render partial:"/layouts/stars", locals: {rating: driver.average_rating} %></span>
        <% end %>
      </strong>
    </li>
  <% end %>
</ul>
