<h1>List of All Drivers</h1>

<!-- <ul>
  <% @drivers.each do |driver| %>

  <li>
    <%= driver.id %>)
      <%= driver.name %>
      <%= driver.vin %>
  </li>
    <% end %>
</ul> -->

<table>
  <tr>
    <th>Driver ID</th>
    <th>Driver Name</th>
    <th>Yacht Number</th>
  </tr>
  <% @drivers.each do |driver| %>
  <tr>
    <td><%= driver.id %></td>
    <td><%= driver.name %></td>
    <td><%= driver.vin %></td>
  </tr>
    <% end %>
</table>
