<h1>Drivers</h1>
<!-- <p>Find me in app/views/drivers/index.html.erb</p> -->

<% @notice_type = flash[:notice] ? "notice" : "error" %>
<div class="<%=@notice_type%>">
  <%= flash[:notice] %>
  <%= flash[:error] %>
</div>

<ul class="driver_passenger_list">
  <% @drivers.each do |driver| %>
  <li>
    <div><%= link_to(image_tag("driver.png"), driver_path(driver.id)) %></div>
    <div><%=link_to(driver.name, driver_path(driver.id)) %></div>
  </li>
  <% end %>
</ul>
