<h1>Add new passenger</h1>

<%= render partial: 'layouts/error_messages',
    locals: { model: @driver } %>

<%= form_for @driver do |d| %>


  <%= d.label "Name" %>
  <%= d.text_field :name %>

  <%= d.label "VIN" %>
  <%= d.text_field :vin %>

  <%= d.submit "Submit" %>


  <% end %>
