<h1>Drivers#new</h1>
<p>Find me in app/views/drivers/new.html.erb</p>

<%= form_for @driver do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :vin %>
<%= f.text_field :vin %>
<br>
<%= f.submit %>
<% end %>
