<h2>
  Driver <%=@driver.name%>
</h2>

<section>
  <div class="individual_info">
    <ul>
      <li>
        Driver name: <%= @driver.name%>
      </li>
      <li>
        Driver's VIN: <%= @driver.vin%>
      </li>
      <li>
          Driver's Average Rating: <%= @driver.average_rating %>
      </li>
      <li>
          Driver's total earnings: $<%= "%.2f" % @driver.total_earned %>
      </li>
      <li>
        Driver Id: <%=@driver.id %>
      </li>
      <li>
        Trips:
        <%if  Trip.all.where(driver_id: @driver.id).length == 0%>
          No trips driven yet!
        <%else%>
        <%= render partial: 'table'%>
        <%end%>
      </li>
    </ul>
  </div>

  <fig>
    <img src="http://stevensegallery.com/200/200">
    <figcaption>
      Photograph of <%=@driver.name%>
    </figcaption>
  </fig>

  <div class="buttons">
    <ul>
      <li>
        <%= link_to "Edit driver information", edit_driver_path(@driver.id), class: "link"%>
      </li>
      <li>
        <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete #{@driver.name} from the database? You can not undo this action.", class: "link"}%>
      </li>
    <ul>
  </div>
</section>
