<h1>Drivers#show</h1>
<p>Find me in app/views/drivers/show.html.erb</p>

<section class="driver_details">
<h2><%= @driver.name%></h2>
<section class="edit_delete">
  <ul>
    <li>
      <%=link_to "Edit", driver_path(@driver.id), method: :patch%>
    </li>
    <li>
      <%=link_to "Delete", driver_path(@driver.id), method: :delete %>
    </li>
  </ul>
</section>

<section class="drivers_trips" >
  <% @driver.trips.each do |trip| %>
  <article>
      <p>
        Trip id: <%= link_to trip.id, trip_path(trip.id) %>
      </p>
      <p>
        Passenger: <%=trip.passenger.name %>
      </p>
      <p>
        trip date: <%=trip.date %>
      </p>
      <p>
        total cost: <%=trip.cost %>
      </p>
      <p>
        rating: <%=trip.rating%>
      </p>
  </article>
    <%end%>
</section>


<section class="driver_earnings">
  <h3>Total Earnings</h3>
  <%@earnings = 0 %>
  <% @driver.trips.each do |trip| %>
    <%@earnings += trip.cost%>
  <% end %>
  <% @earnings *= 0.85/100 %>
  <%= @earnings.round(2) %>
</section>

<section class="driver_rating">
  <h3>Average Rating</h3>
  <%@rating = 0 %>
  <% @driver.trips.each do |trip| %>
    <%@rating += trip.rating %>
  <% end %>
  <% @rating /= @driver.trips.count/1.0 %>
  <%= @rating.round(2) %>
</section>

</section>
