<h1>Driver Details</h1>
<p>
  Driver Name: <%= @driver.name %> Yacht ID Number: <%= @driver.vin %>
  Total Lifetime Earnings: $<%='%.02f' % (@driver.total_earnings / 100) %>
  Average Rating: <%= '%.02f' % @driver.average_rating %>
  <%= link_to "Edit Driver Details", edit_driver_path(@driver.id), alt: "link to edit driver details" %>

</p>

<table>
  <tr>
    <th>Date</th>
    <th>Trip ID</th>
    <th>Driver ID</th>
    <th>Passenger ID</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
  Trips this Captain has led:
  <% Trip.where(driver: @driver.id).each do |trip| %>
  <tr>
  <td><%=trip.date%></td>
  <td><%= link_to trip.id, trip_path(trip.id), alt: "link to trip details"%></td>
  <td><%=trip.driver_id%></td>
  <td><%=trip.passenger_id%></td>
  <td><%=trip.rating%></td>
  <td>$<%='%.02f' % (trip.cost / 100)%></td>
</tr>

  <% end %>
</table>
