<h1> Driver Details </h1>
<h2><%= @driver.name %></h2>

<ul>
  <li>
    Total Earnings: <%= @driver.total_earnings %>
  </li>
  <li>
    Average Rating: <%= @driver.average_rating %>
  </li>
  <li>
    Trips (Click on trip name for details):
  </li>
  <ul>
    <% i = 1 %>
    <% @driver.trips.each do |trip| %>
    <li>
      <%=link_to "Trip #{i}:", trip_path(trip.id) %>
      Date: <%= trip.date %>,
      Rating: <%= trip.rating %>,
      Cost: <%= (Money.new(trip.cost, "USD")).format %>,
      <% i += 1%>
    </li>
    <% end %>
  </ul>
  <li>
    <%= link_to "Edit", edit_driver_path(@driver.id) %>
  </li>
  <li>
    <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {:confirm => "Are you sure you want to delete this driver?"} %>
  </li>

</ul>
