<h1>Drivers#show</h1>

<section>
  <%= link_to("Edit", edit_driver_path(@driver.id)) %>
  <%= link_to("Delete", delete_driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you would like to delete this driver?"}) %>
</section>

<h2><%= @driver.name %></h2>

<h3><%= @driver.vin %></h3>

<section>
  <<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Cost</th>
        <th>Passenger Name</th>
        <th>Rating</th>
      </tr>
    </thead>

    <tbody>

      <% @driver.trips.each do |t| %>

        <tr>
          <td> <%=link_to(t.id, trip_path(t.id))%></td>
          <td> <%= t.date %></td>
          <td> <%= format("%.2f", t.cost/100)%></td>
          <td> <%= t.passenger.name  %> </td>
          <td> <%= t.rating %></td>
        </tr>

      <% end %>

    </tbody>
  </table>
</section>

<section>
  <h3>Total Earnings:</h3>
  <%= (@driver.total_earnings/100).round(2) %>
</section>

<section>
  <h3>Average Rating:</h3>
  <%= @driver.ave_rating %>
</section>
