
<h2><%= @driver.name%></h2>

<section class="edit_delete">
  <ul>
    <li>
      <%=link_to "Edit Driver", edit_driver_path(@driver.id)%>
    </li>
    <li>
      <%=link_to "Delete Driver", driver_path(@driver.id), method: :delete, data: { confirm: 'You are about to delete a driver. Continue?' } %>
    </li>
  </ul>
</section>


<section class="trips_blocks" >
  <% @driver.trips.each do |trip| %>
  <article class="trip_details">
    <ul>
      <li>
         <%= link_to "Trip #{trip.id}", trip_path(trip.id) %> taken <%=trip.date %>

      </li>
      <li>
        Passenger: <%=link_to trip.passenger.name, passenger_path(trip.passenger.id) %>
      </li>

      <li>
       $<%=trip.cost_convert %>
      </li>
      <li>
       Rated: <%= trip.rating%> / 5
      </li>
    </ul>
  </article>

    <%end%>

</section>


<section class="driver_stats">
  <section class="driver_earnings">
    <p>
      Driver Earnings: <%= @driver.earnings%>
    </p>
  </section>

  <section class="driver_rating">
    <p>
      Average Rating<%= @driver.average_rating %> out of 5
    </p>

  </section>
</section>
