<h2>Driver Details</h2>

<div>
  <strong><%= @driver.name %></strong>
  <p><%= @driver.vin %></p>

  <% total = 0 %>
  <% @driver.trips.each do |trip| %>
  <% "Sub total is #{total += trip.cost}" %>
  <% end %>
  <% total_earning = total * (1 - 0.15) %>
    <%= "driver earned $#{(total_earning/100).round(2)}" %>
</div>

<div>
  <% total_rating = 0 %>
  <% counter = 0 %>
    <% @driver.trips.each do |trip| %>
    <% "Total rating is #{total_rating += trip.rating}" %>
    <% counter += 1 %>
    <% end %>

    <% if counter == 0 %>
    <% "No available average rating" %>
    <% else %>
    <% avg_rating = (total_rating / counter) %>
      <%= "driver average rating is #{avg_rating}" %>
      <% end %>
          <!-- Any chance we could round up if the average is .5 or higher? -->
</div>

<div>
  <%=button_to "Edit", edit_driver_path(@driver.id), method: :get%>
  <%=button_to "Delete", driver_path(@driver.id), method: :delete%>
</div>

<div>
  <ul>
    <% @driver.trips.order(date: :desc).each do |trip| %>
      <li>
        <%= link_to "Trip #{trip.id}", trip_path(trip.id) %>
        <%= trip.date %>
        <%= trip.rating %>
        <%= trip.cost %>
      </li>
    <% end %>
  </ul>
</div>
