<h2>Driver Details</h2>

<section>
  <p>
    <strong>Name: </strong>
    <%= @driver.name %>
  </p>
  <p>
    <strong>VIN: </strong>
    <%= @driver.vin %>
  </p>

  <%= link_to "Edit", edit_driver_path(@driver.id) %>
  <%= link_to "Delete", driver_path(@driver.id), method: :delete %>
  <%= link_to "Back to index", drivers_path %>
</section>
