<%= render partial: 'layouts/nav' %>


<section>
  <!-- Why do these need to be instance var? -->
<h2> Driver: <%= @driver.name %> </h2>
<p> VIN: <%= @driver.vin %> </p>
<%= link_to "Edit", edit_driver_path(@driver.id) %>
<%= link_to "Delete", driver_path(@driver.id), method: :delete,
    data: { confirm: "Are you sure you'd like to delete this driver?" } %>
</section>

  <!-- <li> Number of Trips Completed: Add this later </li> -->
<h2> Trips: <% @driver.trips.each do |trip| %> </h2>
  <ul>
    <li>
      <p> Trip #<%= link_to trip.id, trip_path(trip.id) %> </p>
      <p> Date: <%= trip.date %> </p>
    </li>
  </ul>
<% end %>
