<h1> Individual driver detail</h1>

<p>
  <strong><%= @driver.name %></strong>'s VIN # is: <%= @driver.vin %>
</p>

<% average_rating = 0 %>
<% counter = 0 %>
<p><% @driver.trips.each do |trip| %></p>

  <%= "Trip Earning: $" %><% total = ((trip.cost - (trip.cost * 0.15)) /100)
   %><%="%.2f"%total %>

  <%= "Trip Rating: " %><%= trip.rating %>
  <% average_rating += trip.rating %>
  <% counter += 1 %>
  <%= "Trip Date: " %><%= trip.date %>
  <%= "Trip Passenger: " %><%= trip.passenger_id %>
<% end %>
<br>
<%= "Average Rating: " %><%= average_rating/counter %>

<%= link_to "Edit Driver", edit_driver_path(@driver) %>
