<h1>Drivers#show</h1>

<%= link_to("Edit Driver", edit_driver_path(@driver.id)) %>
<%= link_to("Delete Driver", delete_driver_path(@driver.id), method: :delete, data: {confirm: "Noooooooo! I'm pregnant! It's your baby!"}) %>

<section>
    <h1><%= @driver.name  %></h1>
    <p>
    <%= @driver.vin %>
    </p>
</section>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Cost</th>
      <th>Passenger Name</th>
      <th>Rating</th>
    </tr>
  </thead>

  <h3>Driver Total Earnings:</h3>
  <p><%= @driver.total_charged %></p>

  <tbody>
    <% @driver.trips.each do |t|  %>
    <tr>
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.cost %>
      </td>
      <td>
        <%= t.passenger.name %>
      </td>
      <td>
        <%= t.rating %>
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>
