<h1> Individual driver detail</h1>

<p>
  <strong><%= @driver.name %></strong>'s VIN # is: <%= @driver.vin %>
</p>

<% average_rating = 0 %>
<% counter = 0 %>
<p><% @driver.trips.each do |trip| %></p>


  <%= "Trip Earning: $" %><%= Trip.total_earning(trip)%>
  <%= "Trip Rating: " %>
  <% if trip.rating == nil %>
  <%= "no rating yet" %>
  <% else %>
  <%= trip.rating %>
  <% average_rating += trip.rating %>
  <% counter += 1 %>
  <%end%>
  <%= "Trip Date: " %><%= trip.date %>
  <%= "Trip Passenger: " %><%= trip.passenger_id %>
<% end %>
<br>

<% if counter == 0 %>
  <%= "Driver does not have a rating yet. " %>
<% else %>
  <%= "Average Rating: " %><%= average_rating/counter %>
<% end %>

<%= link_to "Edit Driver", edit_driver_path(@driver) %>

<%= link_to 'Delete Driver',
  driver_path(@driver),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
