<h1>Driver Details</h1>

<%= params.inspect %>

<p>
  Driver Name: <%= @driver.name %>
</p>

<p>
  Yacht ID Number: <%= @driver.vin %>
</p>

<p>
  Trips this Captain has led:
  <% Trip.where(driver: @driver.id).each do |trip| %>
  Date:<%=trip.date%>
  Trip ID:<%=trip.id%>
  Driver ID:<%=trip.driver_id%>
  Passenger ID:<%trip.passenger_id%>
  Rating:<%=trip.rating%>
  Cost: $<%='%.02f' % (trip.cost / 100)%>
  <% end %>
</p>
