<h2>Driver Details</h2>

<%= link_to "Edit", edit_driver_path(@driver.id) %>
<%= link_to "Delete", driver_path(@driver.id), method: :delete %>
<%= link_to "Back to index", drivers_path %>

<section>
  <p>
    <strong>Name: </strong>
    <%= @driver.name %>
  </p>
  <p>
    <strong>VIN: </strong>
    <%= @driver.vin %>
  </p>
  <p>
    <strong>Average Rating: </strong>
    <%=  render partial: "/layouts/stars", locals: {rating: @driver.average_rating} %>
  </p>

  <p>
    <strong>Trips: </strong>
    <ul>
      <% @trips.each do |trip| %>
        <li>
          <%= link_to "#{trip.passenger.name} #{trip.date.strftime("%B %d, %Y")} #{render partial: "/layouts/stars", locals: {rating: trip.rating}}", trip_path(trip.id)%>
        </li>
      <% end %>
    </ul>
  </p>
</section>
