<h1>Driver Details</h1>

<%= link_to("Edit Driver", edit_driver_path, alt: "Edit Driver form") %>
<%= link_to("Delete Driver", delete_driver_path, method: :delete, data: { confirm: "Are you sure?" }) %>

<ul>
  <li>
    Name: <%= @driver.name %>
  </li>
  <li>
    VIN number: <%= @driver.vin %>
  </li>
  <li>
    <% @rating = @trips.sum { |trip| trip.rating } %>
    Average rating: <%= (@rating.to_f / @trips.length).round(1) %>
  </li>
  <li>
    Trips
    <ul>
      <% @trips.each do |trip| %>

      <li>
        Date: <%= trip.date %>
      </li>
      <li>
        Cost $<%= (trip.cost / 100).round(2) %>
      </li>

      <% end %>
    </ul>

  </li>

</ul>
