<h1> Driver Detail Page </h1>
<section>
  <% if @driver %>
    <h3><%= "NAME: #{@driver.name}" %></h3>
    <p><%= "ID: #{@driver.id}" %></p>
    <p><%= "VIN: #{@driver.vin}" %></p>
    <% else %>
    <h2> Driver ID does not found </h2>
  <% end %>
</section>

<section>
  <h3>Driver's Trips</h3>
  <%= render partial: '/partial_views/trips_list'%>
</section>

<section>
  <h3>Driver's Total Earnings</h3>
  $<%= @driver.total_earnings %>
</section>

<section>
  <h3>Driver's Average Rating</h3>
  <%= @driver.avg_rating %>
</section>

<%= link_to "Edit", edit_driver_path(@driver.id)%>
<%= link_to "Delete", delete_driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"}%>
