<h1>Driver Details</h1>

<div class="notice">
  <%= flash[:notice] %>
</div>

<div class="left">

  <ul class="info">
    <li>
      Name: <%= @driver.name %>
    </li>
    <li>
      VIN number: <%= @driver.vin %>
    </li>
    <li>
      Average rating: <%= @driver.average_rating.round(1) %>

    <li>
      Total earnings: <%= number_to_currency(@driver.total_earnings, precision: 2) %>
    </li>
  </ul>

  <div class="buttons">
    <ul>
      <li class="edit">
        <%# link_to("Edit Driver", edit_driver_path, alt: "Edit Driver form") %>
        <%= button_to("Edit Driver", edit_driver_path, method: :edit) %>
      </li>
      <li class="delete">
        <%# link_to("Delete Driver", delete_driver_path, method: :delete, data: { confirm: "Are you sure?" }) %>
        <%= button_to("Delete Driver", delete_driver_path, method: :delete) %>
      </li>
    </ul>
  </div>
</div>

<div class="right">
  <table class="trips-list">
    Trips
    <tr>
      <th>
        Date
      </th>
      <th>
        Cost
      </th>
    </tr>
    <% @trips.each do |trip| %>
    <tr>
      <td>
        <%= link_to(trip.date.to_formatted_s(:long), trip_path(trip.id)) %>
      </td>
      <td>
        <%= link_to(number_to_currency(trip.cost), trip_path(trip.id)) %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
