
<p>
  ID: <%=  @driver.id %>
</p>

<p>
  Name: <%= @driver.name %>
</p>

<p>
  Vin: <%= @driver.vin %>
</p>

<%= link_to "Edit", edit_driver_path(@driver) %>

<%= link_to 'Delete', driver_path(@driver), method: :delete, data: { confirm: "Are you sure?" } %>
