<h1>Driver ID: <%= @driver.id %></h1>
<h3>Name: <%= @driver.name %></h3>
<h3>VIN: <%= @driver.vin%></h3>
<h5>Average rating: <%= @rating%> Total Earnings: $<%= @total%></h5>

<p><%= link_to "Edit", edit_driver_path(@driver.id)%> | <%= link_to "Delete", driver_path(@driver.id), method: :delete %></p>

<section>
  <table>

    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Passenger</th>
    </tr>
  <% @trips.each do |trip| %>
  <tr>
  <td>
    <%= link_to trip.id, trip_path(trip.id), method: :get %>
  </td>
  <td>
    <%= trip.date %>
  </td>
  <td>
    <%= trip.rating %>
  </td>
  <td>
    <%= trip.cost %>
  </td>
  <td>
    <%= link_to trip.passenger.name, passenger_path(id: trip.passenger.id)%>
  </td>
  </tr>
  <% end %>

  </table>

</section>
