<h2>Driver Details</h2>

<nav class="page-menu">
  <%= link_to "Edit", edit_driver_path(@driver.id) %>
  <%= link_to "Delete", driver_path(@driver.id), method: :delete %>
  <%= link_to "Back to index", drivers_path %>
</nav>

<section>
  <p>
    <strong>Name: </strong>
    <%= @driver.name %>
  </p>
  <p>
    <strong>VIN: </strong>
    <%= @driver.vin %>
  </p>
  <p>
    <strong>Average Rating: </strong>
    <%=  render partial: "/layouts/stars", locals: {rating: @driver.average_rating} %>
  </p>
  <p>
    <strong>Total earnings: </strong>
    <%=  "$#{(@driver.total_earnings.to_f / 100).round(2)}" %>
  </p>

  <p>
    <strong>Trips: </strong>
    <ul class="trip-list">
      <% @driver.trips_by_date.each do |trip| %>
        <li>
          <%= link_to trip_path(trip.id) do%>
            <div class="trip-list">
              <%= trip.passenger.name %>
            </div>
            <div class="trip-list date">
              <%= trip.date.strftime("%B %d, %Y") %>
            </div>
            <div class="trip-list rating">
              <%= render partial: "/layouts/set_stars", locals: {trip: trip} %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
</section>
