<h1> Driver Details </h1>


<p><%= @driver.name %></p>
<p><%= @driver.vin %> </p>

<h3> Trip details</h3>


<p><%= link_to "Edit Driver", edit_driver_path %> </p>
<p><%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: { confirm: "Are you sure you want to delete?" } %> </p>

<ol>
  <%@trips.each do |trip|%>
  <li><%=  link_to trip.date, trip_path(trip.id)  %>
  <% end %>
</ol>
