<h2><%= @driver.name %></h2>

<p>
  ID: <%=  @driver.id %>
</p>



<p>
  Vin: <%= @driver.vin %>
</p>

<%= link_to "Edit", edit_driver_path(@driver) %>

<%= link_to 'Delete', driver_path(@driver), method: :delete, data: { confirm: "Are you sure?" } %>

<p>
  Total Earned = $<%= @driver.total_earned %>
</p>

<p>
  Average Rating = <%= @driver.average_rating %> stars
</p>

<ol>
  <% @driver.trips.order(date: :desc).each do | trip | %>
    <li>
      <%= render partial: 'layouts/trip_details', locals: { trip: trip, route: @driver } %>
    </li>
  <% end %>
</ol>
