<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Passengers', passengers_path %>
  <%= link_to 'Drivers', drivers_path %>
  <%= link_to 'Create New Passenger', new_passenger_path %>
  <%= link_to 'Create New Driver', new_driver_path %>
</nav>
