<!DOCTYPE html>
<html>
<head>
  <title>DieShare</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Karla|Nosifer" rel="stylesheet">
</head>
<body>
  <header>
    <h1 id="logo"><%= link_to "DieShare", root_path %></h1>
    <nav>
      <h3><%= link_to("See All Drivers", drivers_path) %></h3>
      <h3><%= link_to("See All Passengers", passengers_path) %></h3>
      <h3><%= link_to("New Driver", new_driver_path) %></h3>
      <h3><%= link_to("New Passenger", new_passenger_path) %></h3>
    </nav>
  </header>
  <%= yield %>
</body>
<footer>
  <p>&copy 2017</p>
</footer>
</html>
