<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <em><p>Params are: <%= params %></p></em> -->

    <header>
      <h1><%= link_to("J&J's Rideshare App!", home_path, alt:'homepage')%></h1>
      <nav>
        <ul>
          <li>
            <%= link_to("All Passengers", passengers_path) %>
          </li>
          <li>
            <%= link_to("Add A New Passenger", new_passenger_path) %>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to("All Drivers", drivers_path)  %>
          </li>
          <li>
            <%= link_to("Add A New Driver", new_driver_path) %>
          </li>
        </ul>
      </nav>
    </header>



    <%= yield %>
  </body>
</html>
