<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <nav>
    <ul>
      <li><%= link_to("Home", root_path) %></li>
      <li class="dropdown">
        <%= link_to("Passengers", passengers_path, class: "dropbtn")%>
        <div class="dropdown-content">
          <%= link_to("Add Passenger", new_passenger_path) %>
        </div>
      </li>
      <li class="dropdown">
        <%= link_to("Drivers", href: "#", class: "dropbtn")%>
        <div class="dropdown-content">
          <%= link_to("Add Driver", href: "#") %>
        </div>
      </li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
