<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Rideshare Rails!</h1>

      <!-- <a href="drivers/index.html.erb">view passengers</a>
      <a href="passengers/index.html.erb">view drivers</a> -->

      <%= link_to "Home", root_path %>
      <%= link_to "View passengers", passengers_path %>
      <%= link_to "View drivers", drivers_path %>

      <%= link_to "Create passengers", new_passenger_path %>
      <%= link_to "Create drivers", new_driver_path %>
    </header>
    <%= yield %>
  </body>
</html>
