<!DOCTYPE html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#draggable" ).draggable();
  } );
  </script>
<html>
  <head>
    <title>CatsOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>
        <%= link_to "Cats on Rails", root_path %>
      </h1>
      <section class="nav_links">
        <%= link_to "list of passengers", passengers_path %>
        <%= link_to "list of drivers", drivers_path %>
      </section>
      <section class="nav_links">
        <%= link_to "create new passenger", new_passenger_path  %>
        <%= link_to "create new driver", new_driver_path %>
      </section>
    </nav>
    <% if params[:controller] == "main_page" %>
    <%= yield %>
    <% else %>
    <section class="container">
    <section class="content">
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </section>
  <section class="cat" id="draggable">
    do dream belong_to cats
    <%= image_tag 'rail_cat.gif' %>
  </section>
  <%= params %>
</section>
  </body>
</html>
<% end %>
