<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
<h1>Ride Share</h1>

<%=button_to "All Passengers", passengers_path, method: :get%>
<%=button_to "Add New Passenger", new_passenger_path, method: :get%>
<%=button_to "All Drivers", drivers_path, method: :get%>
<%=button_to "Add New Driver", new_driver_path, method: :get%>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
