<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path%>
      <section class= 'dropdown'>
        <button class = 'dropbtn'>
          Drivers
            <!-- <i class="fa fa-caret-down"></i> -->
        </button>
        <section class = 'dropdown-content'>
          <%= link_to 'View All Drivers', drivers_path%>
          <%= link_to 'Add New Driver', new_driver_path%>
        </section>
      </section>
      <section class= 'dropdown'>
        <button class = 'dropbtn'>
          Riders
          <!-- <i class="fa fa-caret-down"></i> -->
        </button>
        <section class = 'dropdown-content'>
          <%= link_to 'View All Riders', riders_path%>
          <%= link_to 'Add New Rider', new_rider_path%>
        </section>
      </section>

    </nav>
    <%= yield %>
  </body>
</html>
