<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <div class="logo">
        <%= link_to("RideShare", root_path, alt: "Home Page") %>
      </div>
      <nav class="nav-bar">
        <ul>
          <li><%= link_to("Drivers", drivers_path, alt: "All Drivers") %></li>
          <li><%= link_to("Passengers", passengers_path, alt: "All Passengers") %></li>
          <li><%= link_to("New Passenger", new_passenger_path, alt: "Add Passenger form") %></li>
          <li><%= link_to("New Driver", new_driver_path, alt: "add driver form") %></li>
          <li><%= link_to("Home", home_path, alt: "home") %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
