<!DOCTYPE html>
<html>
  <head>
    <title>Journey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="clearfix">
      <h1 id="brand">Journey</h1>
      <nav class="clearfix">
        <div class="dropdown">
          <button class="dropbtn"><%= link_to "Home", root_path %></button>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Passengers</button>
          <div class="dropdown-content">
            <%= link_to "All Passengers", passengers_path %>
            <%= link_to "Create New Passenger", new_passenger_path %>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Drivers</button>
          <div class="dropdown-content">
            <%= link_to "All Drivers", drivers_path %>
            <%= link_to "Create New Driver", new_driver_path %>
          </div>
        </div>
      </nav>
    </header>

    <%#From any page, I can click a menu entry to...
    View a list of all passengers
    View a list of all drivers
    Create a new passenger
    Create a new driver
    From any form in the site, if processing the form submission fails, the user should be politely informed of what went wrong and how they can correct it%>
      <%= yield %>

    <footer>
      <header>
        <p>&copy; COPYRIGHT 2017 S.A. I.D</p>
      </header>
    </footer>

  </body>
</html>
