<!DOCTYPE html>
<html>
  <head>
    <title>CatsOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>
        Cats on Rails
      </h1>
      <section class="nav_links">
        <%= link_to "list of passengers", passengers_path %>
        <%= link_to "list of drivers", drivers_path %>
      </section>
      <section class="nav_links">
        <%= link_to "create new passenger", new_passenger_path  %>
        <%= link_to "create new driver", new_driver_path %>
      </section>
    </nav>
    <section class =="container">
    <% if params[:controller] == "main_page" %>
    <%= yield %>
    <% else %>
    <section class="content">
    <article class="yield">
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    </article>
    <%= yield %>
  </section>
  <section class="cat">
    <%= image_tag 'rail_cat.gif' %>
  </section>
  <%= params %>
</section>
  </body>
</html>
<% end %>
